body {
    background-color: lightgrey;
}
.navbar{
    display: flex;
    justify-content:space-between

}
.lamp-image {
    width:42.5rem ;
    position: absolute;
    margin-left: 6rem;
    margin-top: 0rem;
}
.title{
    font-size: 5rem;
    margin-right: 5rem;
    margin-bottom:2rem ;
    display: flex;
    justify-content:flex-end;
    align-items:center; 
}
.sub-title{
    margin:0rem;
    margin-right: 5rem;
    font-size: 4rem;
    display: flex;
    justify-content:flex-end;
    align-items:center;    
}
.About-Me{
    margin:0rem;
    margin-right: 5rem;
    font-size: 3rem;
    display: flex;
    justify-content:flex-end;
    align-items:center;        
}
