body {
    background-color: lightgrey;
    margin-top: 0;
}
.navbar{
    display: flex;
    justify-content:space-between

}
.lamp-image {
    width:34rem ;
    position: absolute;
    margin-left: 6rem;
    /* margin-top: -5rem; */
}

.text-container{
    display: flex;
    background-color: aquamarine;
    height: 92vh;
    flex-direction: column;
    justify-content: center;
    margin-top: -4rem;
}
.title{
    font-size: 5rem;
    margin-right: 5rem;
    margin-bottom:2rem ;
    display: flex;
    justify-content:flex-end;
    align-content:center; 
}
.sub-title{
    margin:0rem;
    margin-right: 5rem;
    font-size: 4rem;
    display: flex;
    justify-content:flex-end;
    align-items:center;    
}
.About-Me{
    margin:0rem;
    margin-right: 5rem;
    font-size: 3rem;
    display: flex;
    justify-content:flex-end;
    align-items:center;        
}
